<!-- 每個頁面固定有的東西 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>express practice</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <div class="container">
    <!-- navigation -->
    <nav class="navbar">
      <div class="home-wrapper">
        <a href="/" class="home">回到首頁</a>
      </div>
      <div class="btn-s-wrapper">
        <a href="/about" class="btn-s">About</a>
        <a href="/portfolio" class="btn-s">Portfolio</a>
        <a href="/contact" class="btn-s">Contact</a>
      </div>
    </nav>
    <!-- partial templates will replace the part of "body" here -->
    {{{ body }}}
  </div>
</body>

</html>